body{
    margin-top: 40px;
    padding: 0px;
}
.navbar-default {
    background-color: #292626;
    border-color: #292626;
    border-radius: 1px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #d7d4d4;
}
.navbar-default .navbar-brand {
    color: #C63D0F;
}

.navbar-brand {
    
    font-size: 25px;
    line-height: 20px;
}
.navbar-brand >span {
     font-size: 20px;
    line-height: 10px;
    color: #FDF3E7;
    
    
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   
    border-bottom: 2px solid #C63D0F;
    color: #d7d4d4;
background-color: #292626;
}

.one{
    background-color: #C63D0F ;
    height: 900px;
    margin: 0px;
    padding: 0px;
}
.jumbotron {
    
    margin-top: 150px;
    width: 600px;
    
    color: rgb(255, 255, 255);
    background-color: rgba(249, 100, 0, 0.82);
}

.one h1{
    color:#fff;
    text-align: center;
}
.tow{
    background-color: #FDF3E7;
    height: 900px;
    margin: 0px;
    padding: 0px;
}
.three{
    background-color: #7E8F7C;
    height: 900px;
    margin: 0px;
    padding: 0px;
}
.four{
    background-color: #3B3738;
    height: 900px;
    margin: 0px;
    padding: 0px;
}

